* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Mulish';
}

body {
    display: grid;
    justify-content: center;

    background-color: #121214;
    padding: 72px 104px;

    width: 100vw;
    height: 100vh;
}

header h1 {
    color: #02799D;
    font-size: 56px;
    font-weight: 900;
    line-height: 72px;
}

header p {
    color: #E1E1E6;
    font-size: 32px;
    line-height: 40px;
}

main {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(3, 370px);

    gap: 48px 60px;
    /* column-gap: 60px;
    row-gap: 48px; */
}

.card {
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    border-radius: 8px 8px 0 0;
    /* width: 100%; */
}

.card h2 {
    color: #E1E1E6;
    font-size: 36px;
    font-weight: 900;
    padding: 24px 32px 0;
}

.card p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}